
.Rproj.user/7F438FEE/cpp-definition-cache
.Rproj.user/7F438FEE/pcs/debug-breakpoints.pper
.Rproj.user/7F438FEE/pcs/files-pane.pper
.Rproj.user/7F438FEE/pcs/packages-pane.pper
.Rproj.user/7F438FEE/pcs/source-pane.pper
.Rproj.user/7F438FEE/pcs/windowlayoutstate.pper
.Rproj.user/7F438FEE/pcs/workbench-pane.pper
.Rproj.user/7F438FEE/persistent-state
.Rproj.user/7F438FEE/rmd-outputs
.Rproj.user/7F438FEE/saved_source_markers
.Rproj.user/7F438FEE/sources/prop/03217A6E
.Rproj.user/7F438FEE/sources/prop/06099FCE
.Rproj.user/7F438FEE/sources/prop/116FB8D9
.Rproj.user/7F438FEE/sources/prop/13B4CCCD
.Rproj.user/7F438FEE/sources/prop/16DAD7FD
.Rproj.user/7F438FEE/sources/prop/1FD5BB73
.Rproj.user/7F438FEE/sources/prop/28E3F429
.Rproj.user/7F438FEE/sources/prop/3F062685
.Rproj.user/7F438FEE/sources/prop/46E6B2EB
.Rproj.user/7F438FEE/sources/prop/47235C7C
.Rproj.user/7F438FEE/sources/prop/9BCD99DF
.Rproj.user/7F438FEE/sources/prop/A322A475
.Rproj.user/7F438FEE/sources/prop/A3E8D70B
.Rproj.user/7F438FEE/sources/prop/D00ECBD9
.Rproj.user/7F438FEE/sources/prop/D1CBCC1F
.Rproj.user/7F438FEE/sources/prop/D3E8377E
.Rproj.user/7F438FEE/sources/prop/E086E77E
.Rproj.user/7F438FEE/sources/prop/F2CA1647
.Rproj.user/7F438FEE/sources/prop/F8FF679A
.Rproj.user/7F438FEE/sources/prop/FD4CD74F
.Rproj.user/7F438FEE/sources/prop/INDEX
.Rproj.user/7F438FEE/sources/s-66174CE8/09DF68E7-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/273E68FF
.Rproj.user/7F438FEE/sources/s-66174CE8/273E68FF-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/40D07ABF-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/42EF843A-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/5AB3CBE0-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/5D10C949-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/62F25B59-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/655DB15C
.Rproj.user/7F438FEE/sources/s-66174CE8/655DB15C-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/7A8EE134-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/B47E530D-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/lock_file
.Rproj.user/ctx/ctx-21949/console_actions
.Rproj.user/ctx/ctx-21949/environment
.Rproj.user/ctx/ctx-21949/environment_vars
.Rproj.user/ctx/ctx-21949/history
.Rproj.user/ctx/ctx-21949/libpaths
.Rproj.user/ctx/ctx-21949/options
.Rproj.user/ctx/ctx-21949/plots_dir/empty.png
.Rproj.user/ctx/ctx-21949/plots_dir/INDEX
.Rproj.user/ctx/ctx-21949/rversion
.Rproj.user/ctx/ctx-21949/search_path/package_paths
.Rproj.user/ctx/ctx-21949/search_path/search_path_elements
.Rproj.user/ctx/ctx-21949/settings
.Rproj.user/pcs/files-pane.pper
.Rproj.user/pcs/source-pane.pper
.Rproj.user/pcs/windowlayoutstate.pper
.Rproj.user/pcs/workbench-pane.pper
.Rproj.user/persistent-state
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/7F438FEE/sources/s-66174CE8/FB17B48B-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/FAC064B1-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/F74D3B78-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/F74D3B78
.Rproj.user/7F438FEE/sources/s-66174CE8/D5CF54F0-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/D2BBD931-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/D21371EB-contents
.Rhistory
.RData
MatchPackage.Rproj
.Rproj.user/7F438FEE/sources/prop/6E8E5165
.Rproj.user/7F438FEE/sources/prop/ABE7C586
.Rproj.user/7F438FEE/sources/s-66174CE8/314B3489-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/53F315EC-contents
.Rproj.user/7F438FEE/sources/s-66174CE8/F8B7FF28-contents
